@media screen and (max-width: 480px) {
  :root{
      --deep-dark:black;
      --white: #fff;
  }
  h1 {
    font-size: 1.8rem;
    color: #919191;
  }
  h2 {
    font-size: 1.2rem;
  }
.mobileMenu {
  width: 100%;
  padding: 0.625rem 1.25rem;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileMenu a {
  color:var(--white);
  
}

.mobileMenu a:hover {
  color: var(--deep-dark);
  background-color: var(--white);
  width: 90%;
}
.contactDropdown a{
background-color: var(--deep-dark);

  }
.secondDescBlock{
  width: 100%;
}
  .simpleSecondText {
    font-size: 0.85rem;
  }
  .skillCard img {
    max-width: 2.5rem;
    max-height: 2.5rem;
  }
 
  .siteBtn {
    width: 80%;
    padding: 0.5rem;
  }
  .contactForm input,
  .contactForm textarea {
    font-size: 0.85rem;
  }
  .description{
    top: -3%;
    flex-direction: column;
    align-items: center;
  }
  .photoBlock{
    width: 100%;
    background-color:var(--deep-dark);
  }
  .photo{
    width: 100%;
    position: relative;
    margin-top: 13%;
    top: 2%;
  }
  .title{
    position: absolute;
    z-index: 3000;
    padding: 30% 5% 10%;
    top: 30%;
    left: 2%;
  }
  .title h1,
  .title h2 {
    color: var(--white);
  }
  .linkBtnWrap{
    flex-direction: column;
    position: absolute;
    bottom: 20%;
    right: -66%;

  }
  .linkWrap button {
    color: var(--deep-dark);
  }
  .extendedTitle,
  .extendedList li {
text-align: start;
  }
  #about,
  #skills,
  #portfolioTitle,
  #contact{
    border: 0.2rem solid var(--deep-dark);
    width: 30%;
  }

  .linkBtn{
    background: none;

  }
  .deckIcon{
        color: #919191;
  }
  .blockWrap{
    top: 22%;
  }
  .imgWrap {
    display: none;
  }
  .about{
    margin-top: 170%;
  }
  .aboutBlock button{
    color: var(--deep-dark);
  }
  .serviseDesc p {
    width: 100%;
  }
  .cardBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .projectCard{
    width: 80%;
  }
  .portfolioBanner{
    height: 6.25rem;
  }
 #portfolioTitle {
    top: -6.25rem;
    left: 30%;
  }
  .contactContent{
    margin-top: 233%;
  }
  .projectsBlock {
    flex-direction: column;
    align-items: center;
    margin: 3% 0;
  }
  .footerBlock{
    width: 91%;
  }

}

